<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="#" data-toggle="collapse" data-target="#demo"><i class="icon glyphicon glyphicon-pushpin"></i> 文章 <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="demo" class="collapse">
                <li>
                    <%= link_to'文章管理', admin_posts_path %>
                </li>
                <li>
                    <a href="#">分類</a>
                </li>
                <li>
                    <a href="#">標籤</a>
                </li>
            </ul>
        </li>
    </ul>
</div>